/*================================
    Header Part Start
================================*/
body {	
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #ccc;	
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}
.login-part {
    background: rgba(0,0,0,.5);
    padding: 100px 40px 30px 40px;
    width: 35%;
    margin: 23% auto;
    position: relative;
}
.login-part img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    height: 120px;
    position: absolute;
    bottom: 90%;
    left: 35%;
    cursor: pointer;
    transition: 0.4s all ease;
}
.login-part img:hover {
    transform: rotate(10deg) scale(1.2);
}
.login-part h3 {
    text-align: center;
    color: #FDFA53;
    margin: 0px;
    font-weight: bold;
    margin-bottom: 20px;
}
.login-part label {
    display: block;
    color: #fff;
}
.login-part input {
    width: 100%;
    margin-bottom: 40px;
}
.login-part input[type="text"] {
  background: transparent;
  border: none;
  padding: 8px 0px;  
  border-bottom: 1px solid #fff;
}
.login-part input[type="submit"] {
    background: #FB33AA;
    border: none;
    padding: 8px;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    transition: 0.3s all ease;
}
.login-part input[type="submit"]:hover {
    background: #FDFA53;
    color: #FB33AA;
}
.login-part a {
    color: #fff;
    transition: 0.3s all ease;
}
.login-part a:hover {
    color: #FDFA53;
}